[user]
  name = Xi Zhang
  email = // update this

[commit]
  gpgsign = true

[alias]
  co = checkout
  ci = commit
  st = status

[merge]
  conflictstyle = diff3
 
[pull]
  ff = only

[core]
  excludesfile = ~/.config/.gitignore
