[user]
  name = Xi Zhang
  email = info@xizhang.page

[commit]
  gpgsign = true

[alias]
  co = checkout
  ci = commit
  st = status

[merge]
  conflictstyle = diff3

[pull]
  ff = only

[gpg]
  program = gpg

[credential]
  helper = store

[core]
  editor = hx
  excludesfile = ~/.config/.gitignore
